/*                                         tela 600px */

@media (max-width: 600px) {
  .nav-links {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 220px;
    flex-direction: column;
    background-color: #060606d9;
    align-items: center;
    transform: translateX(100%);
  }

  .nav-links.active {
    transform: translateX(0);
    gap: 77px;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 999999;
  }

  .menu-burger {
    display: flex;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .logo img {
    border-radius: 20px;
    padding: 5px;
    height: 75px;
    box-shadow: 0 1px 8px rgba(193, 193, 193, 0.1);
  }
}

@media (max-width: 425px) {

  .programar {
    display: flex;
    justify-content: center;
    position: relative;
    top: -320px;
  }

  .programar span {
    padding: 15px 19px;
    font-size: 20px;
  }

  .apresentacao {
    width: 100%;
  }

  .apresentacao p {
    margin-bottom: 15px;
    width: 350px;
    text-align: justify;
    padding: 21px;
    margin-top: 0;
  }

  .nome {
    margin-top: 40px;
    font-size: 2.8em;
    display: flex;
    justify-content: center;
  }

  #sobremim {
    display: flex;
    margin: 7% 0;
    justify-content: center;
    gap: 18%;
    flex-direction: column-reverse;
  }

  .fotominha img {
    width: 80%;
    position: relative;
    top: 90px;
    margin: 40px 0px 15px;
  }

  .fotominha {
    width: 100%;
    animation: animate 1s ease-in-out 0.1s 1 forwards;
    justify-content: center;
    display: flex;
  }

  .botoesnome {
    display: flex;
    justify-content: center;
  }

  .apresentacao button {
    font-size: 1.2em;
    padding: 18px;
  }

  .apresentacao button:nth-child(1) {
    margin-right: 15px;
  }

  .carts {
    width: 100%;
    gap: 35px;
  }

  .socialContainer {
    width: 90px;
    height: 90px;
  }

  .socialSvg {
    width: 40px;
  }

  .skills-caixa {

    flex-direction: column-reverse;
  }

  .skills-container {
    width: 100%;
  }

  .skills-section {
    margin: 0 20px;
  }

  .skills-section h2 {

    margin-bottom: 15px;
  }

  .skills-container h1 {

    font-size: 2.3em;
  }

  .imgSkills {
    display: none;
  }

  #DB {
    margin-top: -15px;
  }


  .footerr {
    width: 85%;
    margin-left: 1%;
    gap: 25px;
  }

  .imgFooter img {
    width: 70%;
  }

  .tooltip-container {
    height: 70px;
    width: 110px;
  }

  .tooltip-container:hover .tooltip {
    top: -90px;
    opacity: 1;
    transition-duration: 0.3s;
  }

  .tooltip {
    height: 40px;
    width: 87px;
    font-size: 20px;
  }

  .tooltip-container:hover .tooltip {
    top: -60px;
  }

  .iconsFooter {
    padding: 25px;
    gap: 30px;
  }

  .Btn {
    width: 65px;
    height: 65px;
  }

  .svgContainer {
    width: 65px;
    height: 65px;
  }

  .Btn svg {
    width: 35px;
  }

  .contato {
    display: block;
    justify-content: center;
    margin-bottom: 40px;
  }

  .Imagemcontato {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
  }

  .contato img {
    width: 60%;
    margin: 0;
  }

  .caixasDTX {
    width: 77%;
    padding: 25px;
    margin: 0 auto;
  }

  .caixasDTX h1 {
    margin-top: 1px;
    display: flex;
    justify-content: center;

  }

  .input-nome {
    width: 100%;
  }

  .input-msg {
    width: 94%;
  }

  .container-msg {
    width: 100%;
    height: 150px;
  }

  .caixasInput {
    display: block;
    width: 100%;
  }

  .input {
    width: 100%;
  }

  .container-msg .input-msg:valid,
  .container-msg .input-msg:focus {
    height: 80px;
    padding: 45px 10px 15px;
    font-size: 15px;
  }

  .btn-donate {
    min-width: 150px;
    min-height: 65px;
  }

}


/*                                         tela 375px            */


@media (max-width: 375px) {
  .socialContainer {
    width: 80px;
    height: 80px;
  }

  .socialSvg {
    width: 30px;
  }

  .radio-inputs {
    width: 110px;
    font-size: 8px;
    font-weight: bolder;
    height: 28px;
  }

  .radio-inputs .radio .name {
    padding: 0.3rem 0;
  }

  .card-content {
    padding: 5px 10px;
  }

  .card-titulo {
    font-size: .8em !important;
    display: flex;
  }

  .card-content P {
    font-size: 0.5em;
    text-align: justify;
    justify-content: center;
    margin-top: 2px;
  }

  .card {
    width: 140px;
    height: 120px;
    box-shadow: 0 0 0 2px #ffffffe8;
  }

  .card video {
    width: 215px;
    height: 200px;
  }

  .TodosOSCards {
    margin: 0%;
    gap: 7%;
    row-gap: 9px;
    margin-bottom: 50px;
  }


  .skills-container h1 {
    font-size: 2em;
    margin-left: 20px;
  }

  .skills-caixa {
    width: 95%;
  }

  .skills-row {
    width: 107%;
  }

  .skills-section h2 {
    margin-bottom: 11px;
    font-size: 23px;
  }

  .skills-section {
    margin: 0 15px;
  }

  .skills-container h1 {
    font-size: 2em;
  }

  .skills-container {
    width: 100%;
  }

  .imgSkills img {
    display: none;
  }

  .programar {
    display: flex;
    justify-content: center;
  }

  .apresentacao p {
    margin-bottom: 15px;
    width: 327px;
    text-align: justify;
    padding: 23px;
    margin-top: 0;
  }

  .nome {
    margin-top: 80px;
    font-size: 2.7em;
    display: flex;
    justify-content: center;
  }

  .carts {
    width: 100%;
    gap: 35px;
  }

  .apresentacao button:nth-child(1) {
    margin-right: 15px;
  }

  .apresentacao button {
    border: none;
    font-size: 1.1em;
    padding: 15px;
  }

  .programar span {
    padding: 15px 14px;
    font-size: 20px;
    top: 320px !important;
    position: absolute;

  }

  .botoesnome {
    display: flex;
    justify-content: center;
  }

  .fotominha {
    display: none;
  }

  .tooltip-container:hover .tooltip {
    top: -55px;
  }

  .btn-enviar {
    margin: 0px 0px 15px;
  }

  .tooltip {
    height: 35px;
    width: 70px;
    font-size: 15px;

  }

  .btn-donate {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    min-width: 100px;
    min-height: 50px;
    font-size: 1.6em;
  }

  .caixasDTX h1 {
    margin-top: 5px;
    font-size: 2.2em;
    display: flex;
    justify-content: center;
  }

  .caixasDTX {
    width: 80%;
    padding: 10px 20px 10px 20px;
    margin-left: 15px;
  }

  .input-nome {
    width: 300px;
  }

  .input {
    width: 300px;
    padding: 0px 8px
  }

  .caixasInput {
    display: block;
    width: 100%;
  }

  .container-msg .input-msg:valid,
  .container-msg .input-msg:focus {
    padding: 40px 10px 0px;
    font-size: 1.2em;
    height: 90px;
  }

  .container-msg {
    width: 300px;
    height: 122px;
  }

  .input-msg {
    width: 93%;
  }

  .contato img {
    width: 80%;
    margin: 45px 0px 5px;
  }

  .Imagemcontato {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .contato {
    display: flex;
    flex-direction: column-reverse;
  }

  .Btn svg {
    width: 30px;
  }

  .svgContainer {
    width: 60px;
    height: 60px;
  }

  .Btn {
    width: 60px;
    height: 60px;
  }

  .iconsFooter {
    padding: 25px;
    gap: 27px
  }

  .imgFooter img {
    width: 65%;
  }

  .tooltip-container {
    height: 65px;
    width: 95px;
  }

  .footerr {
    width: 88%;
    margin: 0;
  }
}


/*                                         tela 320px */



@media (max-width: 320px) {

  .socialContainer {
    width: 70px;
    height: 70px;
  }

  .socialSvg {
    width: 30px;
  }

  .nome {
    margin-top: 90px;
    font-size: 2.3em;
    display: flex;
    justify-content: center;

  }

  .apresentacao p {
    margin-bottom: 50px;
    width: 297px;
    text-align: justify;
    padding: 12px;
  }

  .programar span {
    padding: 12px 7px;
    font-size: 18px;
    top: 330px !important;
    position: absolute;
  }

  .radio-inputs {
    width: 110px;
    font-size: 8px;
    font-weight: bolder;
    height: 28px;
  }

  .radio-inputs .radio .name {
    padding: 0.3rem 0;
  }


  .botoesnome {
    display: flex;
    justify-content: center;
  }

  .programar {
    display: flex;
    justify-content: center;
  }

  .fotominha {
    display: none;
  }

  .apresentacao button {
    font-size: 0.9em;
    padding: 15px;
    border-radius: 10px
  }

  .apresentacao button:nth-child(1) {
    margin-right: 10px;
  }

  .carts {
    width: 100%;
    gap: 25px;
  }

  .nav-links.active {
    gap: 30px !important;
    background-color: #060606fc;
  }

  .logo img {
    height: 60px !important;
    border-radius: 15px !important;
    padding: 5px !important;
  }

  .imgSkills {
    display: none;
  }

  .skills-row {
    justify-content: center;
    width: 325px;
    margin-bottom: 30px;
  }

  .skills-container {
    width: 100%;
    padding: 10px;
  }

  .navbar {

    padding: 15px 5% 15px 4%;
  }

  .input-nome {
    width: 240px;
  }

  .input-msg {
    width: 78%;
  }

  .container {
    margin: 5px 0px 20px 17px;
  }

  .container-msg {
    margin: 10px 0px 30px 17px;
    height: 105px;
  }

  .btn-donate {
    padding: 10px 25px;
    min-width: 107px;
    min-height: 55px;
    margin-bottom: 20px;
  }

  .container-msg .input-msg:valid,
  .container-msg .input-msg:focus {
    padding: 35px 10px 0px;
    height: 70px;
  }

  .input {
    width: 240px;
  }

  .caixasInput {
    display: block;
    width: 100%;
  }

  .caixasDTX h1 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 2.1em;
  }

  .contato img {
    display: none;
  }

  .container-nome {
    margin: 10px 0px 20px 17px;
  }

  .Imagemcontato {
    display: none;
  }

  .caixasDTX {
    width: 90%;
    padding: 0 !important;
  }

  .TodosOSCards {
    margin: 0%;
    gap: 9%;
    row-gap: 9px;
    margin-bottom: 50px;
  }

  .card {
    width: 130px;
    height: 110px;
    box-shadow: 0 0 0 2px #ffffffe8;
  }

  .card video {
    width: 215px;
    height: 200px;
  }

  .card-content {
    padding: 10px;
  }

  .card-titulo {
    font-size: 11px;
    display: flex;
  }

  .card-content P {
    font-size: 0.4em;
    text-align: justify;
    justify-content: center;
  }



  .skills-container h1 {
    margin: 25px 0px;
    font-size: 1.8em;
  }

  .skills-section {
    flex: 1;
    margin: 10px 25px 10px 20px;
  }

  .skills-section h2 {
    font-size: 20px;
    margin: 19px 0px;
  }

  .porcentagem h3 {
    font-size: 1.1em;
  }

  .iconsFooter {
    padding: 33px 0px 10px;
    gap: 28px;
    width: 300px;
    justify-content: flex-start;
  }

  .svgContainer {
    width: 50px;
    height: 50px;

  }

  .Btn {
    width: 50px;
    height: 50px;
  }

  .Btn svg {
    width: 25px;
  }

  .imgFooter img {
    width: 60%;
  }

  .tooltip-container {
    height: 40px;
    width: 70px;
    margin-top: 20%;

  }

  .tooltip-container:hover .tooltip {
    top: -41px;
  }

  .tooltip {
    height: 25px;
    width: 45px;
    font-size: 10px;

  }

  .footerr {
    width: 84%;
    margin-left: 0%;

  }

  footer {
    border-radius: 35px 35px 25px 25px;
    padding: 15px;

  }
}